name: Per-architecture test

on:
  pull_request:

concurrency:
  group: "${{ github.workflow }} @ ${{ github.ref }}"
  cancel-in-progress: true

jobs:
  test-linux:
    name: Test Linux
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        goos: [linux]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - run: docker run --privileged --rm tonistiigi/binfmt --install all

      - uses: Wandalen/wretry.action@master
        with:
          command: CGO_ENABLED=0 go test -p 2 -v ./...
          attempt_limit: 3
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: "0"
